header{
	display: flex;
    border: solid black;
    justify-content: center;
    flex-flow: row nowrap;
    text-transform: uppercase;
    margin:0 0 5rem;
    background-color: black;
    color: red;
    padding: 10px;
    margin:-10px;	
    margin-bottom:20px;
}

.center_items{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
	}

.footer_style{
	position:fixed;
    bottom: 0;
    width:100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: -10px;
    color: red;
    background-color: rgb(24, 24, 24);
}
